{% extends 'base.html' %}

{% block content %}


<form action="/resumeparse" method="POST">
  <h1>Resume Path</h1>
  <small>Enter the path of the folder with only <b>.pdf</b> files</small>
  <input name="resumepath" class="form-control" type="text"/>
  <h1>Skill Set</h1>
  <small>Enter Comma Delimited Skills</small>
  <input name="skillset" class="form-control" type="text"/>
  <h1>Cutoff</h1>
  <small>Enter Cutoff for Shortlisting</small>
  <input name="cutoff" class="form-control" type="text"/>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

{% endblock %}